{% extends "base.html" %}
{% load static %}
{% load on_favs check_apply is_Finished %}

{% block page_title %}
    {{project.name}}
{% endblock page_title %}

{% block content %}
<style>
    .pro_zoom{}
    .pro_zoom:hover{transform:scale(1.05)}
</style>
    <div class="container mx-5 flex justify-around pb-56">
        <div class="w-1/2">
            <div class="flex justify-between">
                <div class="mr-8 mb-5">
                    <h4 class="text-3xl font-medium mb-px">{{project.name}}</h4>
                </div>
                
                <a href="{{project.host.get_absolute_url}}" class="flex flex-col items-center mr-1">
                    {% include "mixins/user_avatar.html" with user=project.host %}
                    <span class="mt-3 text-medium">{{project.host.first_name}}{{project.host.last_name}}</span>
                </a>

                {% for participant in participants %}
                    <a href="{{participant.user.get_absolute_url}}" class="flex flex-col items-center">
                        {% include "mixins/user_avatar.html" with user=participant.user %}
                        <span class="mt-3 text-medium">{{participant.user.first_name}}{{participant.user.last_name}}</span>
                    </a>
                {% endfor %}

            </div>

            <p class="border-b border-gray-400 pb-5 mt-5 font-bold">
                <i class="fas fa-users text-xl mr-3"></i>
                {{project.count_participants}}
                
                {% if project.on_market %}
                    <a href="{% url 'projects:toggle' project.pk %}" class="pro_zoom text-center ml-20 py-2 px-3 rounded-lg font-bold w-full text-black bg-green-400 hover:text-white-300"><i class="fas fa-ellipsis-h mr-2"></i>공고마감</a>
                {% else %}
                    <a href="{% url 'projects:toggle' project.pk %}" class="pro_zoom text-center ml-20 py-2 px-3 rounded-lg font-bold w-full text-black bg-yellow-500 hover:text-white-300"><i class="fas fa-share-alt mr-2"></i>공고등록</a>
                {% endif %}
                
            </p>
            
            
            <p class="border-b border-gray-400 pb-5 mt-5">
                {{project.description}}
            </p>

            <div class="mt-5 flex flex-row">
            </div>
                <form action="{% url 'projects:create-job' project.pk %}" method="POST" class="w-1/2">
                    {% csrf_token %}
                    {{form}}
                    <button class="pro_zoom text-center py-3 rounded-lg font-bold text-lg w-full text-white bg-teal-500 mt-5">업무 생성</button>
                </form>

            <div class="border-b border-gray-400 pb-5 mt-1 flex flex-row">
            </div>
                               
            <p class="border-b border-gray-400 pb-5 mt-5 pro_zoom">
                <a href="#" class="btn text-center py-3 px-4 rounded-lg font-medium text-lg w-full text-white bg-red-300 text-white hover:text-gray-300">프로젝트 종료</a>
            </p>         
        </div>

        <div class="ml-5">
            <h4 class="font-medium text-xl mb-5 w-15 mr-2">업 무</h4>
            {% for j in project_job %}
            {% is_Finished j as job_finished %}
            {% if job_finished %}
                <li class="mb-2 list-none ml-4 mb-6 border border-blue-600 rounded-lg w-full p-2">
                    <div class="mb-1 text-lg font-bold"><i class="text-blue-600 fas fa-check-circle mr-2"></i>{{j.name}} <i class="font-bold fas fa-sort-amount-up-alt ml-5 text-teal-500 text-lg" alt="난이도"></i> {{j.importance}}</div>
                    {% if  j.charger_true is not False %}
                    <span class="mr-3"><i class="fas fa-user-check mr-2 ml-2 text-pink-400"></i>{{j.charger.first_name}}{{j.charger.last_name}}</span>
                    {% else %}
                    <span class="mr-3"><i class="fas fa-user-check mr-2 ml-2 text-red-600"></i>담당자 없음</span>
                    <a href="{% url 'projects:addMyJob' user.pk j.pk %}" class="mb-1 mr-2"><i class="text-red-600 fas fa-check-circle mr-2"></i>내 업무로 지정</a>
                    {% endif %}
                    <span><i class="fas fa-calendar-day mr-2"></i>{{j.start}} ~ {{j.due}}</span>
                    {% if j.howLate > 0 %}
                        <span class="text-sm text-red-500"><i class="fab fa-font-awesome-flag text-xl text-red-500 mx-1"></i>기한초과 : {{j.howLate}}일</span>
                    {% else %}
                        <span class="text-sm"><i class="fab fa-font-awesome-flag text-lg mx-1 text-blue-500"></i>기한내 제출</span>
                    {% endif %}
                </li>
            {% else %}
                <li class="mb-2 list-none ml-4 mb-6 border border-gray-600 rounded-lg w-full p-2">
                    <div class="mb-1 text-lg font-bold"><i class="fas fa-check-circle mr-2"></i>{{j.name}} <i class="font-bold fas fa-sort-amount-up-alt ml-5 text-teal-500 text-lg" alt="난이도"></i> {{j.importance}}</div>
                    {% if  j.charger_true is not False %}
                    <span class="mr-3"><i class="fas fa-user-check mr-2 ml-2 text-pink-400"></i>{{j.charger.first_name}}{{j.charger.last_name}}</span>
                    {% else %}
                    <span class="mr-3"><i class="fas fa-user-check mr-2 ml-2 text-pink-400"></i>담당자 없음</span>
                    <a href="{% url 'projects:addMyJob' user.pk j.pk %}" class="mb-1 mr-2"><i class="text-red-600 fas fa-check-circle mr-2"></i>내 업무로 지정</a>
                    {% endif %}
                    <span><i class="fas fa-calendar-day mr-2"></i>{{j.start}} ~ {{j.due}}</span>
                    <a class="" href="{% url 'projects:finish' j.pk %}"><i class="far fa-stop-circle text-xl ml-2 text-red-500"></i></a>
                </li>
            {% endif %}
            {% endfor %} 

        </div>
        <div class="ml-5">
            <h4 class="font-medium text-xl mb-5 w-15 mr-2">기여도 평가</h4>
                <div class="">
                    {% if user.pk == project.host.pk %}
                        <div class="mt-3 text-medium ml-2 mb-20"><i class="fas fa-user-alt mr-2"></i>{{project.host.first_name}}{{project.host.last_name}}
                        {% for j in job_contribution %}
                                {% if j.inCharge == user %}
                                    <div class="text-2xl ml-5 font-bold">{{j.score}}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                        </div>
                </div>
                <div>
                    {% for participant in participants %}
                        {% if user.pk == participant.user.pk %}
                            <div class="mt-3 text-medium ml-2 mb-20"><i class="fas fa-user-alt mr-2"></i>{{participant.user.first_name}}{{participant.user.last_name}}
                            {% for j in job_contribution %}
                                {% if j.inCharge == user %}
                                    <div class="text-xl ml-5 font-bold">{{j.score}}</div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        </div>
                    {% endfor %}            
                </div>
        </div>

    </div>
        
{% endblock content %}