[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "==2.2.7"
pillow = "*"
django-dotenv = "*"
requests = "*"
django-seed = "*"
beautifulsoup4 = "*"
black = "*"

[requires]
python_version = "3.7"
