<style>
    .pro_zoom{}
    .pro_zoom:hover{transform:scale(1.5)}
</style>
<ul class="flex items-center text-sm font-medium h-full">
    {% if user.is_authenticated %}
        <li class="nav_link text-lg pro_zoom"><a href="#"><i class="fas fa-bell text-lg mr-2 text-blue-500"></i>()</a></li>

        <li class="nav_link pro_zoom"><a href="{% url 'projects:create' %}"><i class="fas fa-handshake text-xl"></i></a></li> 
        {% comment %} 프로젝트 생성    {% endcomment %}
        
        <li class="nav_link pro_zoom"><a href="{{user.get_absolute_url}}"><i class="fas fa-user-alt text-xl"></i></a></li>
        <li class="nav_link text-lg pro_zoom"><a href="{% url 'lists:see-favs' %}"><i class="fab fa-gratipay text-lg mr-2 text-red-400"></i>({{user.list.projects.count}})</a></li>
        <li class="nav_link pro_zoom"><a href="{% url 'users:logout' %}">LOGOUT</a></li>
    {% else %}
        <li class="nav_link pro_zoom"><a href="{% url 'users:login' %}">LOGIN</a></li>
        <li class="nav_link pro_zoom"><a href="#">JOIN</a></li>
    {% endif %}
</ul>