<ul class="flex items-center text-sm font-medium h-full">
    {% if user.is_authenticated %}
        <li class="ml-6 border-b-2 border-white h-full flex items-center"><a href="#">NOTIFICATION()</a></li>
        <li class="ml-6 border-b-2 border-white h-full flex items-center"><a href="#">PROFILE</a></li>
        <li class="ml-6 border-b-2 border-white h-full flex items-center"><a href="{% url 'users:logout' %}">LOGOUT</a></li>
    {% else %}
        <li class="ml-6 border-b-2 border-white h-full flex items-center"><a href="{% url 'users:login' %}">LOGIN</a></li>
        <li class="ml-6 border-b-2 border-white h-full flex items-center"><a href="#">JOIN</a></li>
    {% endif %}
</ul>