<style>
    .pro_zoom{}
    .pro_zoom:hover{transform:scale(1.1)}
</style>
<div class="w-full mb-10 px-2 overflow-hidden border border-black rounded pro_zoom">
    <a href="{% url 'applyto:detail' apply.pk %}">
        <div class="flex mb-2 truncate">
            <div class="w-full overflow-hidden flex">
                <span class="text-gray-700 block truncate p-1 mr-2">
                     {{apply.project}}
                </span>
            </div>
        </div>


        <span class="text-black w-11/12 block truncate mr-2">
            <i class="fas fa-user-tag mr-2"></i> {{apply.apply_user}}
        </span>

        <span class="text-black w-11/12 block truncate mr-2">
            <i class="fas fa-clock mr-2"></i> {{apply.created}}
        </span>
       
    </a>
</div>