{% extends "base.html" %}


{% block page_title %}
    {{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block content %}

    <div class="h-75vh">
            <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-12 flex flex-col items-center border p-6 border-gray-500">
        
        {% include "mixins/user_avatar.html" with user=user_obj %}

        <div class="flex items-center">
            <span class="text-3xl mt-1">{{user_obj.first_name}}{{user_obj.last_name}}</span>
        </div>
        <span class="text-lg mb-5">{{user_obj.major}}</span>  
        {% if user != user_obj %}
        <div class="mb-2">
            <a href="{% url 'conversations:go' user_obj.pk user.pk %}" class="font-medium text-teal-500">메세지 전송</a>
        </div>
        {% endif %}
        <span class="text-lg mb-5">{{user_obj.bio}}</span>
        {% if user != user_obj %}
        {% endif %}
        {% if user == user_obj %}
            <a href="{% url 'users:update' %}" class="btn btn--small bg-red-500 text-white font-bold">프로필 수정</a>
        {% endif %}
    </div>

    {% if user_obj.project_host.count > 0 %}
        {% if user == user_obj %}
            <div class="container mx-auto pb-10">
                <h3 class="mb-6 text-2xl font-bold"><i class="fas fa-spinner text-3xl mr-2 text-blue-600 font-bold"></i>프로젝트</h3>
                <div class="flex flex-wrap mx-1 mt-5">
                    {% for project in user_obj.project_host.all %}
                        {% include "partials/member_project_card.html" with project=project %}
                    {% endfor %}
                    {% for participant in user_obj.participants.all %}
                        {% include "partials/member_project_part_card.html" with participant=participant %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    </div>

{% endblock content %}